.phase-toolbar {
	width: 100%;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 15px;
}

.phase-toolbar-content {
	margin-top: 14px;
}

.phase-title {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
