.dockLayout {
	background-color: #ffffff;
}

.centerContainer {
	overflow: auto;
}

.headerPanel {
	margin-top: 3em;
    width: 100%;
    height: 100%;
}

.mainPanel {
  position: relative;
  left:0.5em;
  right: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  margin: 40px;
  background-color: #ffffff;
  width: 100%;
}

.gradientBar {
	background: rgba(0, 22, 59, 1);
	background: -moz-linear-gradient(left, rgba(59, 156, 0, 1) 0%,
		rgba(59, 240, 0, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(59, 156, 0, 1)),
		color-stop(100%, rgba(59, 240, 0, 1)));
	background: -webkit-linear-gradient(left, rgba(59, 0, 150, 1) 0%,
		rgba(59, 240, 0, 1) 100%);
	background: -o-linear-gradient(left, rgba(59, 156, 0, 1) 0%,
		rgba(59, 240, 0, 1) 100%);
	background: -ms-linear-gradient(left, rgba(59, 156, 0, 1) 0%,
		rgba(59, 240, 0, 1) 100%);
	background: linear-gradient(to right, rgba(59, 156, 0, 1) 0%,
		rgba(59, 240, 0, 1) 100%);
	color: #ffffff;
	filter: literal("progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9c00', endColorstr='#3bf000', GradientType=1)"
		);
}

.headerLeftPanel {
	position: absolute;
	left: 0px;
	top: 0px;
}

.customMenuBar {
	cursor: pointer;
	margin-top: 0.9em;
  	margin-left: 6.5em;
  	padding-bottom: 12px;
  	border: 0px;
  	background-image: url("resources/images/menu.png");
  	height: 24px;
  	width: 24px;
}
 
.appTitle {
	cursor: pointer;
	font-size: 24px;
	font-color: #ffffff;
  	margin-left: 0.5em;
	margin-top: 0.5em;
   text-transform: uppercase;
}

.pageTitle {
  text-align: center;
  font-size: 30px;
  margin-top: 0.4em;
  font-color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold; 
} 

.headerRightPanel {
   position: absolute;
   right: 0px;
   top: 0px;
}

.customConfigMenuBar {
   cursor: pointer;
   margin-top: 1.2em;
   margin-right: 1em;
   border: 0px;
   background-image: url("resources/images/config.png");
   height: 24px;
   width: 24px;
}

.customHelpButton {
   cursor: pointer;
   margin-top: 1.2em;
   margin-right: 6.5em;
   border: 0px;
   background-image: url("resources/images/help.png");
   height: 24px;
   width: 24px;
}

/* .a-button { */
/* 	height: 70px; */
/* 	line-height: 70px; */
/* 	padding: 0 0; */
/* } */

/* .a-button>a, .a-padd { */
/* 	padding: 0 10px; */
/* } */

/* .a-button>a>img { */
/* 	margin-top: 11px; */
/* } */

/* .a-disabled { */
/* 	cursor: default !important; */
/* 	opacity: 0.4 !important; */
/* } */

/* .a-menu-item>a { */
/* 	color: #012fa7; */
/* 	font-size: small; */
/* 	font-weight: bold; */
/* 	height: 25px; */
/* 	line-height: 25px; */
/* 	padding: 0 10px 0 20px; */
/* 	width: 100%; */
/* } */

/* .a-menu-item>a:hover { */
/* 	color: #646464; */
/* } */

/* .nav-bar-right { */
/* 	text-align: right; */
/* } */

/* .no-highlight>a:hover, .no-highlight>a:focus { */
/* 	background-color: transparent !important; */
/* } */

/* .separator { */
/* 	cursor: default !important; */
/* 	height: 70px; */
/* 	line-height: 70px; */
/* 	padding: 0 10px; */
/* } */

/* .selected>a { */
/* 	color: #646464; */
/* 	background-color: #00f591; */
/* } */

/* .cp-content { */
/* 	background-color: #f0f0f0; */
/* } */