 .classificationTitle {
  font-weight: bold;
  font-size: 26px;	
  margin-bottom: 15px;
  font-family: ProximaNova,"Helvetica Neue",Arial,sans-serif;
  text-transform: uppercase;
 } 

 .customPanel {
  border: 10px;
 }
 
 .insertResultBtn {
    margin-top: 15px;
 }