 .playerTitle {
  font-weight: bold;
  font-size: 26px;	
  margin-bottom: 15px;
  text-transform: uppercase;
 } 

 .customTabHeader {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
 } 
 
 .customTabPanel {
    width: 1200px;
 	height: 600px;
 	border: 0x;
 }
 
 .gwt-TabLayoutPanelTabs {
    height: 50px;
 }
 
 .gwt-TabLayoutPanelTab {
     height: 44px;
 }