 .classification-title {
  font-weight: bold;
  font-size: 26px;	
  margin-bottom: 15px;
  text-transform: uppercase;
 } 

 .custom-left-panel {
  padding-right: 20px;
 }
 
 .custom-right-panel {
  padding-left: 30px;
  border-left: 1px solid #c0c0c0;
  height: 100%;
  overflow: auto;
 }
 
 .insert-result-btn {
    margin-top: 15px;
 }