 .cellTable {
   border-bottom: 1px solid #ccc;
   text-align: left;
   margin-bottom: 4px;
   margin-top: 10px;
   width: 860px;
   heigth: 100%;
 }
 
 .customClassificationHeader {
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    width: 60px; 
    font-size: 11px;
    font-family: opensans !important;
    text-transform: uppercase;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
 .customEvenColumn {
    background-color: #f5f5f5;
 }
 
 .customColumn {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-family: opensans !important;
 }
 
 .customSpanPlayerColumn {
    font-family: opensans !important;
    cursor: pointer;
 }

 .customIcon {
 	border-radius: 50%;
 	border-bottom-left-radius: 50%;
 	border-bottom-right-radius: 50%;
 	border-top-left-radius: 50%;
 	border-top-right-radius: 50%;
 	display: inline-block;
 	height: 7px;
 	overflow-x: hidden;
 	overflow-y: hidden;
 	text-align: center;
 	width: 7px;
 	margin-right: 3px;
 	-webkit-font-smoothing: antialiased;
 }
  
 .customWinIcon {
 	background-color: #51a81e;
 }
 
 .customNeutralIcon {
    background-color: #cccccc;
 }
 
 .customLossIcon {
 	background-color: #ff0000;
 }