 .classificationTitle {
  font-weight: bold;
  font-size: 26px;	
  margin-bottom: 15px;
  margin-top: 40px;
  font-family: ProximaNova,"Helvetica Neue",Arial,sans-serif;
  text-transform: uppercase;
 } 

 .customRightPanel {
  margin-left: 20px;
 }