 .gameTable {
   border-bottom: 1px solid #ccc;
   text-align: left;
   margin-bottom: 4px;
   margin-top: 10px;
   width: 360px;
   height: 100%;
 }
 
 .customGamesSubHeader {
    text-align: center;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    width: 360px;
    font-size: 11px;
    font-family: opensans;
    text-transform: uppercase;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
  .customGamesHeader {
    width: 40px;
    height: 0px;
 }
 
 .customColumn {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-family: opensans;
 }