.player-label {
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: opensans !important;
}

.player-disqualified {
	color: #ccc; 	
}

.versus-label {
    font-size: 16px;
    font-family: opensans !important;
}

.versus-central {
	margin-top: 253px;
}

.custom-left-panel {
	margin-right: 20px;
	width: 610px 
}

.custom-right-panel {
	margin-left: 20px;
	width: 610px
}

.player-spot {
	width: 190px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.semi-panel {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 63px;	
}

.semi-down {
	margin-top: 108px;	
}

.final-panel {
	margin-top: 198px;
}
