.playerLabel {
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: opensans !important;
}

.playerDisqualified {
	color: #ccc; 	
}

.versusLabel {
    font-size: 16px;
    font-family: opensans !important;
}

.versusCentral {
	margin-top: 253px;
}

.customLeftPanel {
	margin-right: 20px;
	width: 610px 
}

.customRightPanel {
	margin-left: 20px;
	width: 610px
}

.playerSpot {
	width: 190px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.semiPanel {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 63px;	
}

.semiDown {
	margin-top: 108px;	
}

.finalPanel {
	margin-top: 198px;
}
